.title
{
  
    display: flex;
    justify-content: center;
}

.tableHead
{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #EE2D40;
	
	width: 80%;
	
	margin: 0 auto;
	height: 5rem;
	display: flex;
	justify-content: space-around;
}
.tableHead h1
{
	direction: rtl;
	font-size: 1.2rem;
	color: white;
	padding: 1rem;
}
.buttons
{
	
	display: flex;
	gap: 1rem;
	padding-left: 10rem;
	padding-top: 2rem;
}
.buttons button
{
	width: 10rem;
	height: 2rem;
	color: #EE2D40;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    font-weight: bold;
	border: none;
}
.buttons button:hover
{
	box-shadow: rgba(0, 0, 0, 0.30) 2px 20px 20px;
    cursor: pointer;
}
.quantityList
{
	
	width: 80%;
	height: 30rem;
	
	text-align: center;
	margin: 0 auto;
	
}
.wrapper
{
	
	margin-bottom: 5rem;
}


.inputChange
{
	height: 1.5rem;
	border: none;
}