.title
{
  
    display: flex;
    justify-content: center;
}

.tableHead
{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: red;
	
	width: 50rem;
	margin: 0 auto;
	height: 5rem;
	display: flex;
	justify-content: space-around;
}
.tableHead h1
{
	direction: rtl;
	font-size: 1.2rem;
	color: white;
	padding: 1rem;
}