.body
{
    
   
    margin-top: 4rem;
    direction: rtl;
    padding: 1rem;
    margin-bottom: 2rem;
}
.levels
{
    color: #EE2D40;
    margin-bottom: 1rem;
    margin-right: 1rem;
   
    display: flex;
}
.productSec
{
    display: flex;
    flex-direction: row;
    justify-content: space-between

}
.information
{
    display: flex;
    gap: 1rem;
}
.productIMG
{
    width: 25rem;
    height: 25rem;
    
    margin-right: 1rem;
}
.productLittleImg
{
    width: 5rem;
    height: 5rem;
}
.images
{
    display: flex;
    flex-direction: column;
}
.littles
{
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    margin-right: 5rem;
}
.productLittleImg
{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 1rem;
}
.quantityInput
{
    width: 3rem;
}
.centerQuantitySec
{
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}
.nazarat
{
    direction: rtl;
    padding-top: 3rem;
    margin-right: 4rem;
}
.hrHeader
{
    
    border:none;
    
       color: white;
      height: 50px;
      
      border-bottom: 1px solid #ffffff;
      box-shadow: 0 20px 20px -20px #333;
   

}

.productInfo
{
    
    width: 40rem;
    min-height: 10rem;
    word-break: break-all;
    margin-right: 1rem;
}

.addComment
{
    direction: rtl;
    margin-right: 2rem;
}
.addComment h2
{
    margin-right: 2rem;
}
.commentSec
{
    border: 1px solid #EE2D40;
    display: flex;
    height: 20rem;
    width: 20rem;
    direction: rtl;
    padding: 1rem;
    margin-right: 2rem;

}
.input
{
    width: 15rem;
    height: 3rem;
}
.inputScore
{
    width: 5rem;
    height: 2rem;
}
.inputComment
{
    width: 15rem;
    height: 5rem;
}
.submitBtn
{
    width: 8rem;
    height: 2rem;
    background-color: #EE2D40;
    border: none;
    color: white;
    border-radius: 1rem;
}
.commentSec input
{
    margin: 0.5rem;
    
}

.commentSec input
{
    padding-right: 0.5rem;
}

.commentSec button
{
    margin: 0.5rem;
}
.pageNums
{
    width: 100%;
    height: 2rem;
    margin-left: 35rem;
}
.productInfo .pName
{
    font-size: 2rem;
}
.productIMG
{
    width: 20rem;
    height: 20rem;
    padding : 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 1rem;
    margin-right: 4rem;
}
.info
{
   
    width: 42rem;
    min-height: 10rem;
    word-break: normal;
}

.Link
{
    text-decoration: none;
    color: #EE2D40;
}
.noComment
{
    width: 100%;
    padding-bottom: 2rem;
    text-align: center;
}
.noCommentH1
{
    color: gray;
    font-size: 1rem;
}
.same
{
    direction: rtl;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.same h1
{
    font-size: 1.2rem;
    padding: 0.5rem;
    color: gray;
    
}
.biscSec
{
    display: flex;
    gap: 1rem;
}