.container
{
    width: 100vw;
    height: 15vh;
    
    display: flex;
    
    justify-content: space-around;
    
    -webkit-box-shadow: 0 8px 6px -4px black;
	   -moz-box-shadow: 0 8px 6px -4px black;
	        box-shadow: 0 8px 6px -8px black;

    font-size: 0.6rem;
    color: rgb(95, 95, 95);
}
.btns
{
    
    display: flex;
    gap: 3rem;
    
}
.manageHeaderH1
{
    margin-top: 2.8rem;
    height: 4rem;
    font-size: 0.9rem;
    
    color: black;
    
}
.manageHeaderH1:hover
{
    
            cursor: pointer;
}
.manageHeaderH2
{
    font-size: 1.2rem;
    color: #EE2D40;
}
.linkTxt
{
    text-decoration: none;
}