
.title
{
  
    display: flex;
    justify-content: center;
}

.tableHead
{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #EE2D40;
	
	width: 80rem;
	margin: 0 auto;
	height: 5rem;
	display: flex;
	justify-content: space-around;
}
.tableHead h1
{
	direction: rtl;
	font-size: 1.2rem;
	color: white;
	padding-left: 15rem;
    padding-top: 1rem;
    border-left: 2px solid rgba(255, 255, 255, 0.418);
}
.wrapper
{
	padding-bottom: 5rem;
}
.productList
{
	height: 37rem;
	width: 80rem;
	margin: 0 auto;
	text-align: center;
	
	
	
}
.addBtn
{
	width: 10rem;
	height: 2rem;
	margin-left: 10rem;
	margin-bottom: 5rem;
	background-color: #EE2D40;
	border: none;
	color: white;
}
.addBtn:hover
{
	cursor: pointer;
}