.form {
    position: relative;
    z-index: 1;
    
    max-width: 360px;
    margin-left: 32%;
    
    
    text-align: center;
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    
    text-transform: uppercase;
    outline: 0;
    background: #EE2D40;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: white;
    color: #EE2D40;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #EE2D40;
    text-decoration: none;
  }
  .form .registerform {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
   
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
  
  }
  .container .info span {
    
    font-size: 12px;
  }
  .container .info span a {
    
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EE2D40;
  }
  body {
  
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

  .form1
  {
      width: 30rem;
      height: 30rem;
      padding: 2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  }

  .HomeBtn
  {
      width: 5rem;
      height: 3rem;
      font-size: 1rem;
      margin-top: 2rem;
      margin-left: 90rem;
      background-image: url('../../assets/images/back.svg');
      background-color: white;
      background-repeat: no-repeat;
      background-size: 70%;
      border: none;
      cursor: pointer;
  }
  input
  {
    direction: rtl;
  }