.box
{
    color: white;
    width: 20rem;
    height: 25rem;
    background-color: #EE2D40;
    margin: 1rem;
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box:hover
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.allBox
{
    margin: 1rem;
}
.boxHead
{
    width: 99%;
    margin: 0 auto;
    text-align: center;
    height: 10rem;
    
    
}
.productImg
{
    width: 70%;
    /* background-color: blue; */
    height: 10rem;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;} */
}
.boxMid
{
    padding-top: 0.5rem;
    word-break: break-all;
}
.boxMid h4
{
    color: white
   
 
    
}
h5
{
    padding-top: 1rem;
    font-size: 1.5rem;
}
.boxFooter
{
    display: flex;
    justify-content: space-around;
}