


.box
{

    color: black;
    width: 19.9rem;
    height: 27rem;
    background-color: white;
    border: 0.5px solid #EE2D40;
    margin: 1rem;
    /* cursor: pointer; */
    border-radius: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    

}
.box:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.allBox
{
    margin: 1rem;
}
.boxHead
{
    width: 99%;
    margin: 0 auto;
    text-align: center;
    height: 10rem;
    
    
}
.productImg
{
    width: 70%;
    /* background-color: blue; */
    height: 10rem;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;} */
}
.boxMid
{
    padding-top: 1rem;
    word-break: break-all;
}
.boxMid h4
{
    color: black
   
 
    
}
h5
{
    padding-top: 1rem;
    font-size: 1rem;
}
.boxFooter
{
    display: flex;
    justify-content: space-around;
}
h3
{
    font-size: 1rem;
}
.priceSec
{
    justify-content: space-between;
    
    display: flex;
}
.mojod
{
    
    display: flex;
    width: 10rem;
    gap: 1rem;
    
}
.mojod p
{
    padding-top: 0.5rem;
}
.mojod .cardIcon
{
    padding-top: 1.5rem;
}

.infoButton:hover
{
    
    cursor: pointer;
}
.infoButton
{
    background-color: white;
    border: none;

}

.cardInfoSec
{
    display: flex;
    gap: 0.5rem;
    width: 6rem;
     

}
.cardInfoSec .infoIcon:hover
{
    margin-right: 0.2rem;
    
}
.Link
{
    text-decoration: none;
    
}
.addToCart
{
    z-index: 2;
}
.addToCart:hover
{
    cursor: pointer;
    
}
.btns
{
    display: flex;
    gap: 1rem;
    
}
.btns button
{
    height: 2rem;
    background-color: white;
    border: 0.5px solid #EE2D40;
    color: rgb(88, 88, 88);
    border-radius: 2rem;
}
.btns button:hover
{
    background-color: #EE2D40;
    color: white;
    cursor: pointer;
}