
@import url('../../../assets/styles/fonts/fontiran.css');

.wrapper
{
    
    background-color: white;
    position: fixed;
    
}

.container
{
    
    width: 100vw;
    height: 0.1rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
    
}
.homeLogo
{
    
    width: 6rem;
    margin-top: 1rem;
}

.hrHeader
{
    
    border:none;
    
       color: white;
      height: 35px;
      
      background-color: white;
   

}

.slideBar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem 0;
    box-shadow: 0 20px 20px -20px rgba(51, 51, 51, 0.432);
    background-color: white;
    margin-top: 1.4rem
}