
@import url('../../../assets/styles/fonts/fontiran.css');


.container
{
    width: 100vw;
    height: 8rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
}
.homeLogo
{
    
    width: 9rem;
    margin-top: 3rem;
}
.addSec
{
    background-color: #EE2D40;
    width: 100vw;
    height: 7rem;
    background-repeat: repeat-x;
    text-align: center;
    background-size: contain;
    background-image: url('../../../assets//images/ads.png');
}
.addSec h1
{
    color: #EE2D40;
    font-size: 1.5rem;
    padding-top: 5rem;
    padding-left: 1rem;
    margin: 0 auto;
    font-family: IRANSans;
    
}