.container
{
    width: 99vw;
    height: 30rem;
    background-image: url('../../../../assets/images/lastMid.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    
}