.container
{
    width: 99vw;
    height: 31rem;
    background-image: url('../../../../assets/images/lastMid.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    
}

@media screen and (max-width: 768px)
{
    .container
    {
        background-size: 100%;
        height: 10rem;
        padding-left: 1rem;

    }
}
    
@media screen and (max-width: 771px)
{
    .container
    {
        background-size: 100%;
        height: 10rem;
        padding-left: 1rem;

    }
}
@media screen and (max-width: 773px)
{
    .container
    {
        background-size: 100%;
        height: 10rem;
        padding-left: 1rem;

    }
}
    

    
