.inputs
{
    outline: 0;
    background: #e0e0e0;
    width: 100%;
    border: 0;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 14px;
    direction: rtl;
    
    
}
.error
{
    color: #EE2D40;
    direction: rtl;
    
    margin-bottom: 1rem;
    float: right;
    
}
.inputLabel
{
    direction: rtl;
    margin-bottom: 5rem;
    margin-left: 26rem;
    position: absolute;
    
}