.tableHead
{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
   
	width: 50rem;
	margin: 0 auto;
    margin-top: 1rem;
	height: 4rem;
	display: flex;
	justify-content: space-around;
    
    
    
}
.tableHead:hover
{
    border-bottom: 2px solid #EE2D40;
    color: #EE2D40;
}
.tableHead h2
{
	direction: rtl;
	font-size: 1rem;
	
	padding: 0.2rem 5rem;
    
    
  

}
.List
{
   
    width: 18rem;
    


    
}
.Btns
{
    display: flex;
    
    width: 5rem;
    height: 5rem;
    gap: 1rem;
    padding-top: 0.5rem;
   


}

.inputQ
{
    width: 2rem;
}
.deleteItem:hover
{
    cursor: pointer;
}
.rmvBtn
{
    border: none;
    background-color: white;
}