.animation
{
    width: 35rem;
    height: 35rem;
    padding-top: 2rem;
    
    position: absolute;
    margin-left: 33rem;
    align-items: center;
    z-index: -1;
    
}
.wrapper
{
    padding-bottom: 13rem;
}
.wrapper h1
{
    color: gray;
    margin-left: 2.5rem;
}
.tryAgain
{
    
    margin-left: 42.2rem;
    background-color:#EE2D40 ;
    width: 13rem;
    border: none;
    margin-top: 8rem;
    color: white;
    height: 2rem;
}
.tryAgain:hover
{
    cursor: pointer;
}