body
{
    overflow-x: hidden;
}


.wrapper
{
    display: flex;
}


.bodySec
{
    margin: 0 auto;
    width: 89.5vw;
    height: 200vh;
   direction: rtl;
   display: flex;
   
   /* background-color: #FACB82; */
    
}
.products
{
    width: 85%;
    height: 100vh;
    margin: 0 auto;

  
   
}
.firstSec
{
    
    
    
    
    width: 100%;
    min-height: 20rem;
   
    
    
   
}

.firstSecCards
{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}
.firstSecCards h2
{
    margin-top: 7rem;
    margin-right: 2rem;
}
.listHome
{
    margin: 0 auto;
    width: 89.5vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.animations
{
    width: 45rem;
    height: 45rem;
    padding-top: 2rem;
    
    position: absolute;
    margin-left: 40rem;
    align-items: center;
    z-index: -1;
}
.loadingg
{
    width: 45rem;
    height: 45rem;
    padding-top: 2rem;
    
    position: absolute;
    margin-left: 43rem;
    align-items: center;
    z-index: -1;

}
.sideBarContent
{
    margin-top: 4rem;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    
   
}