body
{
    overflow-x: hidden;
}


.wrapper
{
    display: flex;
}


.bodySec
{
    margin: 0 auto;
    width: 89.5vw;
    height: 100%;
   direction: rtl;
   display: flex;
   
   /* background-color: #FACB82; */
    
}
.products
{
    width: 100%;
    height: 100%;
    margin: 0 auto;

  
   
}
.firstSec
{
    
    
    
    
    width: 100%;
    min-height: 20rem;
 
    
    
   
}

.firstSecCards
{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}
.firstSecCards h2
{
    margin-top: 7rem;
    margin-right: 2rem;
}
.listHome
{
    margin: 0 auto;
    width: 89.5vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.animations
{
    width: 45rem;
    height: 45rem;
    padding-top: 2rem;
    
    position: absolute;
    margin-left: 40rem;
    align-items: center;
    z-index: -1;
}
.loadingg
{
    width: 45rem;
    height: 45rem;
    padding-top: 2rem;
    
    position: absolute;
    margin-left: 43rem;
    align-items: center;
    z-index: -1;

}
.sideBarContent
{
    margin-top: 4rem;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    
   
}
.chokoSec
{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}
.biscSec
{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.h1Sec
{
    padding-top: 1rem;
}
.headerCategory
{
    display: flex;
    justify-content: space-between;

}
.more
{
    height: 3rem;
    padding-top: 3rem;
    display: flex;
    gap: 0.5rem;
    padding-left: 8rem;
    font-weight: bold;
    
}

.iconMore
{
    padding-top: 0.8rem;
    
}
.Link
{
    text-decoration: none;
    color: #000;
}
.dataLoad
{
   display: flex;
    justify-content: center;
   flex-wrap: wrap;
}