
.wrapper
{
    direction: rtl;
    height: 100%;
    padding-top: 10rem;
}





.firstSec
{
    
    
    
    
    width: 100%;
    min-height: 20rem;
   
    
    
   
}

.firstSecCards
{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    direction: rtl;

}
.firstSecCards h2
{
    margin-top: 7rem;
    margin-right: 2rem;
}

.hrHeader
{
    
    border:none;
    
       color: white;
      height: 50px;
      
      border-bottom: 1px solid #ffffff;
      box-shadow: 0 20px 20px -20px #333;
   

}

.h1Head
{
    padding-top: 2rem;
    margin-right: 2rem;

}
.h1Head h1
{
    color: gray;
    font-size: 1.3rem;
}
.dataLoad
{
    padding-left: 10rem;
   display: flex;
    justify-content: center;
   flex-wrap: wrap;
  
}
.same
{
    direction: rtl;
    padding-right: 9rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.sameH1
{
    font-size: 1.2rem;
    padding: 0.5rem;
    color: gray;
    
}

.result
{
    padding-right: 5rem;
}